@import "../../Colors.scss";
@import "~video-react/styles/scss/video-react";

.orderdeltscreen {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	align-self: center;
	overflow-y: auto;
	overflow-x: hidden;
	.ordernumber {
		width: 100%;
		height: 90px;
		margin-top: 20px;
		background-color: $primary_color;
		@include allCenter;
		flex-direction: column;
		overflow: hidden;
		h1 {
			color: $secondry_color;
			font-weight: 500 !important;
		}
		span {
			color: $secondry_color;
			font-weight: bold;
			width: 90%;
			text-align: center;
			overflow: hidden;
		}
	}
	.ordercontainerscard {
		width: 100%;
		height: fit-content;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		justify-items: center;
		margin-bottom: 20px;
		margin-top: 20px;

		@media screen and (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}
		.ordercard {
			width: 100%;
			max-width: 280px;
			height: 100%;
			background-color: $primary_color;
			.orderimg {
				width: 100%;
				height: 180px;
				img {
					width: 100%;
					height: 100%;
					background-color: rgba($color: $primary_color, $alpha: 0.8);
					object-fit: contain;
				}
			}
			.extraservies {
				padding: 10px;
				width: 100%;
				height: calc(100% - 180px);
				p {
					color: white !important;
				}
				h5 {
					color: white !important;
				}
			}
		}
	}

	.playvide {
		width: 90%;
		max-width: 500px;
		height: 300px;
	}
	p {
		color: $primary_color;
		width: 92%;
		overflow: hidden;
		margin: 10px 0;
		font-size: 16px !important;
		span {
			font-weight: bold;
			margin-right: 10px;
			color: $primary_color;
			text-decoration: underline;
		}
	}
}
@media only screen and (max-width: 600px) {
	.orderdeltscreen {
		.ordernumber {
			span {
				display: none;
			}
		}
		p {
			@include fontSizeP(0vw);
		}
	}
}
