$primary_color: #282a33;
$secondry_color: #e94c3d;
$text_color: #ffffff;
$disab_color: #dadada;
$input_color: #f8f8f8;
$serch_color: #c4c4c4;
@mixin justifyStart() {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@mixin alignStart() {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
@mixin justifyEnd() {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@mixin allCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin justifyBtwn() {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin justifyArnd() {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
@mixin justifyEvn() {
	display: flex !important;
	align-items: center !important;
	justify-content: space-evenly !important;
}
@mixin gridSystem($grid) {
	display: grid;
	grid-template-columns: repeat($grid, 1fr);
	gap: 15px;
	width: 100%;
}
@mixin fontSizeP($num) {
	font-size: calc(20px + $num);
}
@mixin widthP($num) {
	width: calc(20px + $num);
}
@mixin heightP($num) {
	height: calc(20px + $num);
}
